<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="RowLimitN" value="100"/>
	</appSettings>
	<system.serviceModel>
		<client>
			<endpoint name="Service"
					  address="net.tcp://localhost:4000/Service"
					  binding="netTcpBinding"
					  bindingConfiguration="tcpBinding"
					  contract="Common.IPvService" />
		</client>
	
        <bindings>
          <netTcpBinding>
            <binding name="tcpBinding"
                     transferMode="Streamed"
                     maxReceivedMessageSize="67108864"
                     sendTimeout="00:10:00"
                     receiveTimeout="00:10:00" />
          </netTcpBinding>
        </bindings>
	</system.serviceModel>
</configuration>